:root {
  /*------------- Colors ------------*/
  --white: #fff;
  --black: #000;
  --primary: #e90039;
  --success: #28a745;
  --warning: #f39c12;

  /*------------- Theme ------------*/
  --theme-blue: #3B38C5;
}