:root {
  /*------------- Colors ------------*/
  --white: #fff;
  --black: #000;
  --primary: #e90039;
  --success: #28a745;
  --warning: #f39c12;

  /*------------- Theme ------------*/
  --theme-beige: #FCF7F7;
  --theme-light-gray: #00000029;
  --theme-dark-gray: #707070;
  --theme-dark-purple: #3F345F;
  --theme-light-purple: #836CF5;
  --theme-custom-back: #070707;
}