@import '../../css/base/mixins.scss';

.footer {
  height: 230px;
  background-color: var(--theme-beige);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
  padding-bottom: 3em;

  @include breakpoint(medium) {
    padding-bottom: initial;
  }

  .links {
    gap: 40px;

    a {
      color: var(--theme-dark-purple);
      font-family: "Helvetica 65 Medium", sans-serif;
      font-weight: 600;
    }

    &.web-only {
      display: none;

      @include breakpoint(medium) {
        display: flex;
      }
    }
  }

  .copyright {
    position: absolute;
    bottom: 0px;
    padding: 1em;
    background-color: var(--white);
    width: 100%;
    text-align: center;

    @include breakpoint(medium) {
      position: initial;
      background-color: initial;
      width: initial;
    }

    font-size: 14px;
    font-family: 'Helvetica 35 Thin', sans-serif;
    font-weight: 100;
    color: initial;
  }

  .socials {
    color: var(--theme-dark-purple);
    font-family: "Helvetica 65 Medium", sans-serif;
    font-weight: 600;

    @include breakpoint(medium) {
      background-color: var(--white);
      width: 100%;
    }

    .label {
      text-align: center;
      margin-bottom: 10px;
    }

    .list {
      display: flex;
      width: 244px;
      flex-wrap: wrap;
      margin: 0 auto;

      a {
        flex-basis: 25%;
        text-align: center;
        padding: 10px 0;
      }
    }
  }
}
