@import url('https://fonts.googleapis.com/css?family=Raleway:100, 200, 300, 400, 500, 600, 700, 800, 900');
@import url('https://fonts.googleapis.com/css?family=Jost:100, 200, 300, 400, 500, 600, 700, 800, 900');
@import './logo.scss';

body, * {
  font-family: "Jost";
}

.logo {
  margin: 0 auto;
  font-family: "Raleway" !important;
  text-align: center;
  margin: 2em 1em 0 1em;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 20px;
  width: 130px;

  * {
    margin:0;
    padding:0;
  }
}
